body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom-color: green;
    background-color: honeydew;
}
header h1{
width: 300px;
color: black;

}
.linha{
    width: 960px;
    margin: 0 auto;
	overflow: auto;
	padding: 5px 0;
}
.coluna{
	padding: 0 10px;
    float: left;
}