body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-bottom-color: rgb(238, 12, 12);
    background-color: rgb(243, 10, 10);
}

header img{
    width: 300px;
}
.menu{
    text-align: left;
    text-transform: uppercase;
    
}
.menu li a{
    padding: 10px 20px;
    border-radius: 3px;
    color: #fff;
}
.nav{
    margin-top: 25px; 
}
.linha{
    width: 960px;
    margin: 0 auto;
	overflow: auto;
	padding: 5px 0;
}
.coluna{
	padding: 0 10px;
	float: left;

}
a.botao,input.botao{
    background:#fff;
    padding: 5px 10px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    margin: 5px 0;
    display: inline-block;
    border: none;
}
ul.sem-marcador,ol.sem-marcador{
    list-style: none;
    
}
ul.inline li{
display: inline;

}
.col3{
    background:rgba(25, 214, 57, 0);
    color: rgb(252, 252, 252);
    float: left;
}
.col3 ul li a{
    color: mintcream;

}
a.botao,input.botao{
    background:rgb(0, 110, 255);
    padding: 5px 10px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    margin: 5px 0;
    display: inline-block;
    border: none;
}
a.botao:hover,input.botao:hover{
    background: orange;
    text-transform: lowercase;
}
.contato label{
    display: block;
    font-size: 13px
    
    
}
.contato input, .contato textarea{
    display: block;
    margin-bottom: 15px;
    padding: 5px 2%;
    width: 96%;
 }
    .contato input.botao{
        width: auto;
  }
  header img{
    margin-right: 100px;
  }
  .conteudo-extra img{
      margin-right: auto;  }